*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  form {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
  }
  
  form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  form input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #487152;
  }
  
  #studentRecords {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  button.delete {
    background-color: rgb(207, 89, 89);
  }
  
  button.delete:hover {
    background-color: rgb(146, 42, 42);
  }
  